.noteContainer{
    background-color: lightblue;
    width: 400px;
    border-radius: 16px;
    padding: 16px;
    margin: 10px;
    position: relative;
    color: white ;
}

.delete{
    position: absolute;
    right: 10px;
    top: 10px;
}

.edit{
    position: absolute;
    left: 10px;
    right: 40px;
}

.title{
    font-size: 32px;
}

.date{
    display: flex;
    justify-content: flex-end;
}